<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Priorities</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/7cb98041d7.js"></script>
    

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  


    <section class="hero is-primary is-fullheight">
    
    <!-- renders header -->
    <%= render partial: "/layouts/header", layout: false %>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="content is-medium">
          <% flash.each do |key, value| -%>
            <div id="flash_<%= key %>"><%=h value %></div>
          <% end %>
          
        
  


<!--   <div class="hero-body">
    <div class="container has-text-centered">
      <div class="content is-medium">
        <h1 class="title">
          Joss's Priorities
        </h1>
      </div>
    </div>
  </div> -->


        
          <%= yield %>
        </div>
      </div>
    </div>

      <!-- Hero footer: will stick at the bottom -->
  <!-- <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
        </ul>
      </div>
    </nav>
  </div>
  </section>        -->
    </section>
  </body>
</html>
