<!DOCTYPE html>
<html>
  <head>
    <title>Priorities</title>
    <%= csrf_meta_tags %>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav">
      <div class="nav-left">
        <%= link_to ("Priorities"), root_path, class: "nav-item"%>
      </div>
    
      <div class="nav-right nav-menu"> 
        <% if signed_in? -%>
            <%= button_to ("Sign Out"), sign_out_path, method: :delete , class: "nav-item"%>
        <% else %>
            <%= link_to ("Sign in"), sign_in_path, class: 'nav-item' %>
            <%= link_to ("Sign up"), sign_up_path, class: 'nav-item' %>
        <% end %>
      </div>
    </nav>

    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Joss's Priorities
          </h1>
        </div>
      </div>
    </section>

    <%= yield %>
  </body>
</html>
